body {
  width: 22rem;
  overflow: hidden;
}
 
div.header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 5px;
}

ul.windows {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
  margin-block-start: 0em;
}

div.title {
  font-size: 1.5em;
  font-weight: bold;
}

div.button-area {
  display: flex;
  flex-direction: row;
  align-items: end;
}

div.history-mode {
  font-size: 18px;
  opacity: 0.5;
  margin-right: 10px;
  cursor: pointer;
}

div.history-mode.active {
  opacity: 1;
}

div.clear-button {
  cursor: pointer;
}

img.clear-icon {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

div.restore-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.restore-toggle-button {
  position: relative;
  height: 22px;
  width: 40px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

div.restore-toggle-button::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

div.restore-toggle-button.active::before {
  left: calc(100% - 16px - 3px);
}

div.restore-toggle-button.active {
  background-color: greenyellow;
}


/* tamplate window */
li.window {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

li.window::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px; /* Width of the vertical line */
  height: 100%; /* Height of the vertical line */
  background-color: rgba(118, 216, 240, 0.514); /* Color of the vertical line */
  opacity: 0; /* Initially not visible */
  transition: opacity 0.3s; /* Smooth transition */
}

.window:hover::before {
  opacity: 1;
}

div.window-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
}

div.window-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.window-header-left {
  display: flex;
  flex-direction: row;
  align-items: end;
}

p.window-title {
  margin: 0px;
  padding: 2px;
}

div.window-close {
  padding: 2px;
  color: crimson;
  opacity: 0;
}

div.window-close:hover {
  color:rgb(0, 128, 0);
}

div.window-header:hover .window-close {
  opacity: 1;
}

div.window-date {
  margin-left: 15px;
  color: hsl(0, 0%, 70%);
}

/* Style for the horizontal line */
.special-date::before {
  content: ""; /* Create an empty content */
  display: block; /* Make it a block element */
  position: absolute; /* Position it absolutely */
  top: 0%; /* Place it in the middle vertically */
  left: 0%; /* Align it to the left */
  width: 100%; /* Set its width to match the parent element */
  height: 1px; /* Height of the horizontal line */
  background-color: rgba(0, 0, 0, 0.116); /* Color of the horizontal line */
  opacity: 1;
}

div.window-icon {
  margin-right: 5px;
  padding: 2px;
}

ul.window-tabs {
  padding-inline-start: 0px;
}

/* tamplate tab */
li.tab {
  display: flex;
  flex-direction: row;
  padding: 0px 5px 0px 0px;
  justify-content: space-between;
  align-items: center; 
  cursor: pointer;
}
div.tab-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

img.tab-icon {
  height: 12px;
  width: 12px;
  margin: 5px;
  margin-left: 10px;
}

p.tab-title {
  margin: 0px;
}

div.tab-close {
  padding: 2px;
  color: crimson;
  opacity: 0;
}

div.tab-close:hover {
  color:rgb(0, 128, 0);
}

li.tab:hover .tab-close {
  opacity: 1;
}