body {
    width: 22rem;
  }
  
ul.windows {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0px;
}

div.button-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.restore-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.restore-toggle-tag {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

div.restore-toggle-button {
  position: relative;
  height: 22px;
  width: 40px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

div.restore-toggle-button::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

div.restore-toggle-button.active::before {
  left: calc(100% - 16px - 3px);
}

div.restore-toggle-button.active {
  background-color: greenyellow;
}


/* tamplate window */
li.window {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

li.window::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px; /* Width of the vertical line */
  height: 100%; /* Height of the vertical line */
  background-color: rgba(118, 240, 173, 0.514); /* Color of the vertical line */
  opacity: 0; /* Initially not visible */
  transition: opacity 0.3s; /* Smooth transition */
}

.window:hover::before {
  opacity: 1;
}

div.window-header {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}

div.window-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

div.window-header-left {
  display: flex;
  flex-direction: row;
  align-items: end;
}

p.window-title {
  margin: 0px;
}

div.window-date {
  margin-left: 15px;
  color: hsl(0, 0%, 70%);
}

div.window-icon {
  margin-right: 5px;
}

ul.window-tabs {
  padding-inline-start: 0px;
}

/* tamplate tab */
li.tab {
  display: flex;
  flex-direction: row;
  align-items: center; 
  cursor: pointer;
}

li.tab:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

img.tab-icon {
  height: 12px;
  width: 12px;
  margin: 5px;
  margin-left: 10px;
}

p.tab-title {
  margin: 0px;
}